@font-face {
  font-family: "iconfont"; /* Project id 3260532 */
  src: url('//at.alicdn.com/t/font_3260532_dvfuh71va08.woff2?t=1648476841996') format('woff2'),
       url('//at.alicdn.com/t/font_3260532_dvfuh71va08.woff?t=1648476841996') format('woff'),
       url('//at.alicdn.com/t/font_3260532_dvfuh71va08.ttf?t=1648476841996') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e68a";
}

.icon-wode:before {
  content: "\e605";
}

.icon-yuedu:before {
  content: "\e609";
}

.icon-shujia:before {
  content: "\e60a";
}

.icon-shezhi:before {
  content: "\e628";
}

.icon-mulu:before {
  content: "\e62f";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-tianjia:before {
  content: "\e7df";
}

